@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
  }

  #login {
    width: 70vw;
    height: 40vh;
  }

  #imagem {
    float: left;
    width: 25%;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  #formulario {
    float: right;
    width: 70%;
  }

  input {
    width: 39.4vw;
  }
}

@media screen and (min-width: 992px) {
  body {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
  }
  #login {
    width: 990px;
    height: 40vh;
  }
  #imagem {
    float: right;
    width: 47%;
    height: 100%;
    border-radius: 20px;
  }

  #formulario {
    float: right;
    width: 50%;
  }
  #formulario > h1 {
    font-size: 2em;
  }

  #formulario > p {
    font-size: 1.2em;
  }

  input {
    width: 420px;
  }
}
