@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
  }

  #login {
    width: 80vw;
  }

  #imagem {
    float: left;
    width: 25%;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  #formulario {
    float: right;
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  body {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
  }
  #login {
    width: 990px;
  }
  #imagem {
    float: left;
    width: 47%;
    height: 100%;
    border-radius: 20px;
  }

  #formulario {
    float: right;
    width: 50%;
  }
}
