/*  verde: #49a09d
    lilas: #5f2c82
*/

* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body,
html {
  background-color: #5f2c82;
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#formulario {
  padding: 10px;
  display: block;
}

#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px black;
  width: 340px;

  transition: width 0.3s, height 0.3s;
  transition-timing-function: ease;
}

#imagem {
  background: #5f2c82 url(../imagens/metal.jpg) no-repeat;
  background-size: cover;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-position: left bottom;
  display: block;
}

#formulario > h1 {
  text-align: center;
  margin-bottom: 10px;
}

#formulario > p {
  font-size: 0.8em;
  margin-bottom: 15px;
  text-align: justify;
}

#entrar {
  font-size: 1em;
  width: 100%;
  margin-top: 10px;
  height: 40px;
  background-color: #49a09d;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

#entrar:hover {
  background-color: #3f8a87;
}

#esqueci {
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: white;
  margin-top: 5px;
  height: 30px;
  width: 100%;
  padding-top: 9px;
  font-size: 1em;
  border-radius: 10px;
  color: #49a09d;
  border: 1px solid;
}

#esqueci:hover {
  background-color: rgba(226, 221, 221, 0.575);
}

input {
  background-color: white;
  font-size: 1em;
  width: 80%;
  border: none;
  padding: 4px;
  border-radius: 5px;
}

.campo {
  background-color: #5f2c82;
  border-radius: 5px;
  margin: 1px;
  padding-top: 5px;
}

span {
  color: white;
  height: 40px;
  width: 35px;
  transform: translate(20%, 10%);
}
